<!DOCTYPE html>
<html>
<head>
    <title>Admin - Add Books</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Add a New Book</h1>
    <form method="POST">
        <label>Title:</label><br>
        <input type="text" name="title"><br><br>
        <label>Author:</label><br>
        <input type="text" name="author"><br><br>
        <label>Price:</label><br>
        <input type="text" name="price"><br><br>
        <button type="submit">Add Book</button>
    </form>
    <br>
    <a href="/">Back to Store</a>
</body>
</html>
