<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="/static/books.png" alt="Bookstore Logo"> <!-- Replace with your logo path -->
            </div>
            <h2 class="brand-name">BookSearch.com</h2> <!-- Added brand name in header -->
            <div class="header-buttons">
                <a href="/signup">Sign Up</a>
                <a href="/login">Login</a>
                <!-- Removed View Cart link -->
            </div>
        </div>
    </header>

    <main>
        <h1>Welcome to our Bookstore!</h1>
        <ul>
            {% for book in books %}
            <li class="book-item">
                <div class="book-details">
                    <strong>{{ book.title }}</strong> by {{ book.author }} - ${{ book.price }}<br>
                    <span>Rating: {{ book.rating }}</span><br>
                    <span>Currency: {{ book.currency }}</span><br>
                    <span>Description: {{ book.description }}</span><br>
                    <span>Publisher: {{ book.publisher }}</span><br>
                    <span>Page Count: {{ book.page_count }}</span><br>
                    <span>Genres: {{ book.generes }}</span><br>
                    <span>ISBN: {{ book.ISBN }}</span><br>
                    <span>Language: {{ book.language }}</span><br>
                    <span>Published Date: {{ book.published_date }}</span><br>
                </div>
                <!-- Removed Add to Cart button -->
            </li>
            {% endfor %}
        </ul>
    </main>

    <!-- Add translucent circles -->
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    <div class="circle circle4"></div>
    <div class="circle circle5"></div>
    <div class="circle circle6"></div>

</body>
</html>
